/* Styles for icons */
i {
    font-size: 30px;
    cursor: pointer;
}

/* Hover styles for icons */
i:hover {
    font-size: 35px;
    cursor: pointer;
    transition: font-size 0.1s ease-out;
}

/* Styles for character text */
.char-text {
    font-family: 'Cavolini', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the canvas section */
#canvas-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Styles for buttons in the testing section */
.btn-char-test {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Cavolini', sans-serif;
    font-size: larger;
    font-weight: 500;
    margin-top: 6em; /* baba lahat ng button */
    margin-bottom: 0.5em;
}

/* General button styles */
button {
    background-color: rgb(255, 255, 255, 0.728);
    height: 50px;
    width: 150px;
    font-size: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

/* Hover styles for buttons */
button:hover {
    background-color: #f6c960bf;
    color: rgb(52, 51, 51);
    transition: background-color 0.1s ease;
    text-decoration: none;
    border: none;
    font-weight: 500;
}

.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Cavolini', sans-serif;
    font-weight: 500;
}

.custom-upload-button:hover {
    background-color: #e8e878;
    color: rgb(52, 51, 51);
    transition: background-color 0.1s ease;
    text-decoration: none;
    border: none;
    font-weight: 500;
}

/* Modal */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* scroll */
    background-color: rgba(0,0,0,0.4);
    z-index: 1000; /* Sit on top */
}

.modal-content {
    position: relative;
    background-color: #fefefe62;
    margin: 13% auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    font-size: 30px; /* laki font size */
    text-align: center;
    z-index: 1000;
}

.modal-content h4 {
    font-size: 40px; /* Larger font size */
    margin-bottom: -0.5em;
  }

  .modal-footer {
    position: absolute;
    right: 55%;
    margin-right:20px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    transform: translateY(-600px);
  }

  .modal-footer2 {
    position: absolute;
    right: 40%;
    margin-left:20px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    transform: translateY(-600px);
  }


  .modal-success {
    background-color: #71f69087; /* Light green */
    border-color: #c3e6cb;
  }
  
  .modal-error {
    background-color: #fe7b868a; /* Light red */
    border-color: #f5c6cb;
  }
 
.modal-close {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .popup {
    position: fixed;
    right: 52%;
    top: 468px;
    display: inline-block;
    cursor: pointer;
    z-index: 2000 /* Higher z-index for popup */
  }
  
  /* Popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index: 2000; /* Higher z-index for popup */
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* Paglalagyan ng scoressssss */
  .collapsible {
    background-color: #84ff95;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 250px;
    text-align: left;
    font-size: 20px;
    transform: translateY(-500px);
    border-radius: 0;
  }
  
  .active, .collapsible:hover {
    background-color: #d0cd71;
    transform: translateY(-500px);
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #8fd4854f;
    width: 250px;
    transform: translateY(-500px);
    border: #4CAF50;
    max-height: 0px; /* Set a max-height for the scroll bar */
    overflow-y: auto; /* Add vertical scroll bar */
  }
  .scores-list {
    text-align: center;
    list-style-type: none;
  }
/* Add some padding and spacing for the content */
.content ol {
  padding: 10px;
  margin: 0;
  list-style-type: decimal;
}
